# ignore all of the image files for now
design/*
static/scss
static/images

# don't ignore the compressed images
static/images/!jpg/compressed
static/images/!svg/compressed
static/images/!png/compressed

# all other unused files in root directory
*.jpg
*.txt
*.xd
*.psd
*.ai

# ignore the basemaps for css
static/css/**/*.css.map