@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");
.btn, button {
  display: inline-block;
  font-family: "Kiwi Maru", "serif";
  font-weight: 500;
  color: #FAFDFF;
  border-width: 0;
  padding: clamp(0.75rem, -0.1109865471rem + 1.1210762332vw, 1rem) clamp(5rem, 0.6950672646rem + 5.6053811659vw, 6.25rem);
  background-color: #FF3E5B;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  box-shadow: 3px 3px 5px rgba(255, 62, 91, 0.3);
}
.btn.md, button.md {
  padding: clamp(1rem, -0.1980676329rem + 1.2077294686vw, 1.25rem) clamp(6.25rem, 0.2596618357rem + 6.038647343vw, 7.5rem);
}
.btn.sm, button.sm {
  padding: clamp(0.5rem, -0.2539267016rem + 1.3089005236vw, 0.75rem) clamp(3.75rem, -0.0196335079rem + 6.5445026178vw, 5rem);
}
.btn.lg, button.lg {
  padding: clamp(1.25rem, -0.2575376884rem + 1.256281407vw, 1.5rem) clamp(7.5rem, -7.5753768844rem + 12.5628140704vw, 10rem);
}
.btn.xl, button.xl {
  padding: clamp(1.5rem, -2rem + 2.5vw, 1.75rem) clamp(10rem, -25rem + 25vw, 12.5rem);
}
.btn:hover, button:hover {
  color: white;
  background-color: #bf3e51;
}
.btn:active, .btn:focus, button:active, button:focus {
  color: #cbcbcb;
  background-color: #a63e4e;
}

nav .nav-links {
  list-style: none;
}
nav .nav-links > li {
  transition: all 0.15s ease-in-out;
}
nav .nav-links > li a {
  transition: all 0.15s ease-in-out;
  width: 100%;
  text-align: center;
  color: #1F74AD;
}
nav .socials {
  padding: 1rem 0;
}
nav .socials a {
  display: block;
}
nav .socials a:first-child {
  margin-right: 1rem;
}
nav#top {
  background: rgba(175, 255, 247, 0);
  top: 0;
  transition: all 0.15s ease-in-out;
}
nav#top > #upper {
  width: 100%;
  background: #93c8ec;
  transition: all 0.15s ease-in-out;
}
nav#top > #upper .container #phone i {
  width: 3rem;
  height: 2rem;
  font-size: 2rem;
}
@media only screen and (max-width: 576px) {
  nav#top > #upper {
    display: none;
  }
}
nav#top .container#lower {
  padding: 1rem 0;
}
nav#top .container#lower .logo {
  width: 30%;
  min-width: 10rem;
  max-width: 25rem;
}
nav#top .container#lower .logo a {
  display: block;
}
@media only screen and (min-width: 576px) {
  nav#top .container#lower > div:nth-child(3) {
    display: none;
  }
}
nav#top .container#lower .nav-links {
  padding-bottom: 1rem;
}
nav#top .container#lower .nav-links > *:not(:nth-child(4)) {
  margin-right: 2rem;
}
nav#top .container#lower .nav-links > li a:hover {
  color: #1f4e6d;
}
nav#top .container#lower .nav-links > li a:active {
  color: #fcffff;
}
@media only screen and (max-width: 576px) {
  nav#top .container#lower .nav-links {
    display: none;
  }
}
nav#mobile-bottom {
  background: #AFFFF7;
  height: 5rem;
}
nav#mobile-bottom ul.nav-links {
  width: 100%;
  background-color: #AFFFF7;
  transition: all 0.15s ease-in-out;
}
nav#mobile-bottom ul.nav-links > li {
  padding: 1rem 0;
}
nav#mobile-bottom ul.nav-links > li:hover {
  color: #68b2e4;
  background-color: #afd9d5;
}
nav#mobile-bottom ul.nav-links > li:active, nav#mobile-bottom ul.nav-links > li:focus {
  color: #1f4e6d;
  background-color: #afbfbe;
}
nav#mobile-bottom ul.nav-links > li a {
  width: 100%;
}
nav#mobile-bottom .container {
  height: 100%;
}
nav#mobile-bottom .container .f-item {
  flex: 1;
}
nav#mobile-bottom .container .socials {
  margin-top: 0.2rem;
}
nav#mobile-bottom .container #burger {
  height: 100%;
  cursor: pointer;
}
nav#mobile-bottom .container #burger .burger-wrapper {
  width: 23%;
  min-width: 38px;
  max-width: 42px;
  z-index: 10000;
}
nav#mobile-bottom .container #burger .burger-wrapper > div {
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  left: 0;
  right: 0;
  transition: all 0.15s ease-in-out;
}
nav#mobile-bottom .container #burger .burger-wrapper .top, nav#mobile-bottom .container #burger .burger-wrapper .bottom {
  background-color: #1F74AD;
}
nav#mobile-bottom .container #burger .burger-wrapper .middle {
  background-color: #93c8ec;
}
nav#mobile-bottom .container #burger .burger-wrapper .top {
  transform: translateY(-0.55rem);
}
nav#mobile-bottom .container #burger .burger-wrapper .bottom {
  transform: translateY(0.55rem);
}
nav#mobile-bottom .container #burger .burger-wrapper .top.animate {
  transform: translateY(0.55rem) rotate(45deg);
}
nav#mobile-bottom .container #burger .burger-wrapper .bottom.animate {
  transform: translateY(-0.55rem) rotate(-45deg);
}
nav#mobile-bottom .container #burger .burger-wrapper .middle.animate {
  opacity: 0;
  visibility: hidden;
}

.card {
  display: grid;
  grid-template-rows: repeat(2, auto);
  border: 1px solid #93c8ec;
  border-radius: 10px;
  padding: 2.5rem 0;
  margin-bottom: 5rem;
}
.card .card-title {
  padding-bottom: 1.5rem;
  justify-self: center;
}
.card .card-title h3 {
  padding: 1rem 0.5rem;
}
.card .card-title span {
  display: block;
  width: 100%;
  height: 0.35rem;
  background-color: #68b2e4;
  border-radius: 1rem;
}
.card .card-body {
  padding: 1.5rem 0;
}
.card .card-body .text {
  text-align: center;
}
.card .card-body .text ul {
  list-style: none;
}
.card .card-body .text ul li {
  padding: 0.25rem 0;
}
.card .card-body .meta {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: stretch;
  align-items: center;
  padding-top: 2.5rem;
}
.card .card-body .meta img {
  filter: drop-shadow(3px 3px 5px rgba(31, 116, 173, 0.3));
  width: 50%;
  max-width: 13.5rem;
  min-width: 8.5rem;
}
.card .card-body .meta span {
  align-self: center;
}
@media only screen and (max-width: 576px) {
  .card:hover {
    box-shadow: 3px 3px 5px rgba(31, 63, 84, 0.3);
  }
  .card:nth-child(2) .card-body .meta img {
    transform: rotateY(180deg);
  }
}
@media only screen and (min-width: 768px) {
  .card {
    border: unset;
    border-radius: unset;
    margin-bottom: 5rem;
  }
}

#lang-dropdown ul {
  display: block;
  list-style: none;
}
#lang-dropdown ul > li {
  display: inline-block;
  opacity: 0.3;
  width: 3rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#lang-dropdown ul > li > img {
  width: 100%;
}
#lang-dropdown ul > li:hover {
  opacity: 1;
  width: 3.5rem;
}
#lang-dropdown ul > li.trans-off {
  pointer-events: none;
}
#lang-dropdown ul > li.trans-on {
  pointer-events: auto;
}

#svg-shapes .overlay {
  opacity: 0.9;
  fill: #AFFFF7;
}
#svg-shapes .image.index-hero-mobile {
  transform: translate(-40%) scale(0.35);
}
#svg-shapes .image.index-hero-med {
  transform: translate(0%, -19%);
}
#svg-shapes .image.index-hero-web {
  transform: translate(0%, -30%);
}
#svg-shapes #instagram path.outer {
  fill: none;
  stroke: #1F74AD;
}
#svg-shapes #instagram path.inner-big {
  fill: none;
  stroke: #1F74AD;
}
#svg-shapes #instagram path.inner-small {
  fill: none;
  stroke: #1F74AD;
}

@media only screen and (min-width: 576px) {
  main#main-wrapper section#index-s-one {
    height: 45vh;
  }
  main#main-wrapper section#index-s-one .spacer {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-s-one {
    height: 65vh;
  }
  main#main-wrapper section#index-s-one .spacer {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  main#main-wrapper section#index-s-one {
    height: 50vh;
  }
}
@media only screen and (min-width: 1200px) {
  main#main-wrapper section#index-s-one {
    height: 100vh;
    margin-top: 20rem;
  }
}
@media only screen and (min-width: 1400px) {
  main#main-wrapper section#index-s-one {
    margin-top: 35rem;
  }
}
main#main-wrapper section#index-s-one .container {
  grid-gap: 10rem 0;
}
@media (min-width: 576px) and (max-width: 767px) {
  main#main-wrapper section#index-s-one .container {
    grid-gap: 0 0;
    height: 0%;
  }
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-s-one .container {
    grid-gap: 0;
    height: 60%;
  }
}
main#main-wrapper section#index-s-one .container .icon {
  width: 100%;
  position: relative;
  transition: all 0.15s ease-in-out;
}
main#main-wrapper section#index-s-one .container .icon img {
  width: 100%;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-s-one .container .icon img {
    width: 70%;
  }
}
@media only screen and (min-width: 1400px) {
  main#main-wrapper section#index-s-one .container .icon img {
    width: 95%;
  }
}
main#main-wrapper section#index-s-one .container .icon span {
  width: 100%;
  transition: all 0.15s ease-in-out;
}
@media only screen and (min-width: 576px) {
  main#main-wrapper section#index-s-one .container .icon span {
    visibility: collapse;
    opacity: 0;
    position: absolute;
  }
}
main#main-wrapper section#index-s-one .container .icon span p {
  text-align: center;
}
@media only screen and (min-width: 576px) {
  main#main-wrapper section#index-s-one .container .icon#confidence span {
    top: 105%;
  }
  main#main-wrapper section#index-s-one .container .icon#swimming span {
    top: 100%;
  }
  main#main-wrapper section#index-s-one .container .icon#cultural-exchange span {
    top: 105%;
  }
  main#main-wrapper section#index-s-one .container .icon:hover img, main#main-wrapper section#index-s-one .container .icon:active img {
    transform: scale(1.2);
  }
  main#main-wrapper section#index-s-one .container .icon:hover span, main#main-wrapper section#index-s-one .container .icon:active span {
    visibility: initial;
    opacity: 1;
  }
  main#main-wrapper section#index-s-one .container .icon:hover img, main#main-wrapper section#index-s-one .container .icon:active img {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-s-one .container .icon#swimming span {
    top: 50%;
  }
}
@media only screen and (min-width: 992px) {
  main#main-wrapper section#index-s-one .container .icon span {
    width: 150%;
  }
  main#main-wrapper section#index-s-one .container .icon#swimming span {
    top: 44%;
  }
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-s-two .container .text-box .card .meta span:first-child {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-s-two .container .text-box header h2 {
    padding-bottom: 2.5rem;
  }
}

/*# sourceMappingURL=modules.css.map */
