@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");
body {
  min-width: 37.6rem;
}
@media only screen and (max-width: 576px) {
  body {
    max-width: 57.5rem;
  }
}

main, nav {
  width: 100vw;
}
main .container, nav .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 575px) {
  main .container, nav .container {
    width: 95%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  main .container, nav .container {
    width: 92.5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  main .container, nav .container {
    width: 92.5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  main .container, nav .container {
    width: 90%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  main .container, nav .container {
    width: 87.5%;
  }
}
@media only screen and (min-width: 1400px) {
  main .container, nav .container {
    width: 70%;
  }
}

main#main-wrapper section {
  width: 100%;
}
main#main-wrapper section .overlay {
  position: absolute;
  z-index: 5000;
  width: inherit;
}
main#main-wrapper section .shapes {
  width: inherit;
}
main#main-wrapper section .text-box {
  height: 100%;
}
@media only screen and (max-width: 576px) {
  main#main-wrapper section .text-box {
    text-align: center;
  }
}

nav {
  position: fixed;
  z-index: 10000;
}
nav#top .container .f-item {
  flex: 1;
}
nav#mobile-bottom {
  z-index: inherit;
  bottom: 0;
}
nav#mobile-bottom ul.nav-links {
  position: absolute;
  bottom: 5rem;
  visibility: collapse;
  opacity: 0;
  z-index: -5;
  text-align: center;
}
nav#mobile-bottom ul.nav-links.animate {
  opacity: 1;
  visibility: unset;
}
nav#mobile-bottom .container {
  position: relative;
  z-index: 10000;
}
@media only screen and (min-width: 576px) {
  nav#mobile-bottom {
    display: none;
  }
}

#lang-dropdown {
  position: fixed;
}
@media only screen and (max-width: 575px) {
  #lang-dropdown {
    top: 10.5%;
    right: 2.5%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #lang-dropdown {
    top: 11.5%;
    right: 4%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  #lang-dropdown {
    top: 13%;
    right: 4.5%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #lang-dropdown {
    top: 14%;
    right: 5.5%;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  #lang-dropdown {
    top: 16%;
    right: 6.5%;
  }
}
@media only screen and (min-width: 1401px) {
  #lang-dropdown {
    top: 18%;
    right: 7.5%;
  }
}

main#main-wrapper section#index-hero {
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-hero {
    height: 42vh;
  }
}
@media only screen and (min-width: 1200px) {
  main#main-wrapper section#index-hero {
    height: 55vh;
  }
}
@media only screen and (min-width: 1500px) {
  main#main-wrapper section#index-hero {
    height: 68vh;
  }
}
@media only screen and (min-width: 1920px) {
  main#main-wrapper section#index-hero {
    height: 65vh;
  }
}
main#main-wrapper section#index-hero .shapes object {
  position: absolute;
  z-index: -1;
}
main#main-wrapper section#index-hero .container {
  height: 100%;
}
main#main-wrapper section#index-hero .container .text-box {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  main#main-wrapper section#index-hero .container {
    height: 52%;
  }
}
@media only screen and (min-width: 1200px) {
  main#main-wrapper section#index-hero .container {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  main#main-wrapper section#index-hero .container .text-box {
    width: 65%;
    height: 75%;
  }
}
@media only screen and (min-width: 992px) {
  main#main-wrapper section#index-hero .container .text-box {
    height: 35%;
  }
}
@media only screen and (min-width: 1200px) {
  main#main-wrapper section#index-hero .container .text-box {
    height: 42%;
  }
}
@media only screen and (min-width: 1400px) {
  main#main-wrapper section#index-hero .container .text-box {
    height: 40%;
    width: 50%;
  }
}
@media only screen and (min-width: 1500px) {
  main#main-wrapper section#index-hero .container .text-box {
    width: 55%;
  }
}
main#main-wrapper section#index-s-one .container {
  justify-items: center;
  margin-top: clamp(0rem, -25.1162790698rem + 69.7674418605vw, 15rem);
}
@media only screen and (min-width: 576px) {
  main#main-wrapper section#index-s-one .container {
    grid-template-rows: none;
    grid-template-columns: repeat(3, minmax(135px, 1fr));
    margin-top: 0;
  }
}
main#main-wrapper section#index-s-one .container .icon {
  max-width: 190px;
}
@media only screen and (min-width: 576px) {
  main#main-wrapper section#index-s-one .container .icon:nth-child(1) {
    justify-content: flex-end;
  }
  main#main-wrapper section#index-s-one .container .icon:nth-child(2) {
    justify-content: flex-start;
  }
  main#main-wrapper section#index-s-one .container .icon:nth-child(3) {
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=layout.css.map */
